* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: Inter added here below code */

@font-face {
  font-family: "Inter";
  src: url("./Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

/*font-family:Lato added here below code */

@font-face {
  font-family: "Lato";
  src: url("./Fonts/Lato/Lato-Regular.ttf");
}

/*font-family:Playfair added here below code */

@font-face {
  font-family: "Playfair Display";
  src: url("./Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

/*font-family:Overpass added here below code */

@font-face {
  font-family: "Overpass";
  src: url("./Fonts/Overpass/Overpass-Regular.ttf");
}

/*font-family:Poppins added here below code */

@font-face {
  font-family: "Poppins";
  src: url("./Fonts/Poppins/Poppins-Regular.ttf");
}

/******************************************* Buttons *******************************************************/

.editbutton {
  color: black !important;
  padding: 3px 30px !important;
  text-transform: uppercase !important;
  background-color: #00a4ad !important;
  font-size: 11px !important;
  transition: 0.5s !important;
}

.editbutton:hover {
  background-color: black !important;
  color: #00a4ad !important;
}

.updatebutton {
  background: #ffac50 !important;
  border: none !important;
  width: 200px;
  border-radius: 30px !important;
  height: 50px !important;
  margin-bottom: 20px;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  transition: 0.6s ease;
}

.updatebutton:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.hand {
  position: relative;
  top: 18px;
  left: -10px;
}

.handwithh1 {
  position: relative;
  top: 5px;
}

.addclinic {
  background-color: #ffac50 !important;
  border: none !important;
  border-radius: 25px !important;
  width: 200px !important;
  height: 50px !important;
  margin-top: 30px;
  font-family: Lato;
  font-size: 18px !important;
  font-weight: 700 !important;
  transition: 0.6s ease;
}

.addclinic:hover {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
}

.documentbtn {
  background: #00a4ad !important;
  border: none !important;
  font-family: Lato;
  font-size: 11px !important;
  font-style: normal;
  font-weight: 400;
  height: 40px !important;
  border-radius: 9px !important;
}

.documentbtn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.addbreak {
  background: #ffac50 !important;
  width: 120px !important;
  height: 40px !important;
  border: none !important;
  font-family: Lato;
  font-size: 12px !important;
  font-weight: 700;
  color: #19193e !important;
}

.setavailbtn {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  background: #ffac50 !important;
  border-radius: 25px !important;
  border: none !important;
  padding: 10px 20px !important;
  transition: 0.5s all !important;
}

.addbreak:hover,
.setavailbtn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.expandlink {
  font-family: Overpass;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #858585;
  text-decoration: underline;
  transition: 0.6s all !important;
}

.expandlink:hover {
  color: #858585;
  text-decoration: none;
}
/*********************** Navigation bar Code below utill the next comment meet ******************************/

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  padding: 0 0 0 20px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1c61;
}

.logo_items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.logo_items img {
  width: 64px;
  height: 64px;
}
.logo_items .navitem {
  font-family: Lato;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  color: #1e1c61;
  padding: 0 20px;
  border-right: 1px solid black;
  font-size: 1.2rem;
  margin: 0 0 0 20px;
  text-decoration: none;
}
.logo_items a:last-child {
  border-right: none;
}
.profile_nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 100%;
  background: #00a4ad 30%;
  border-bottom-left-radius: 30px;
  font-family: Playfair Display;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #19193e;
}
.profile_nav p {
  padding: 0 30px 0 0;
}
.profile_nav img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

/************************************** doctors profile ***************************************************/

.doctornameandcity {
  font-family: Lato;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 10px;
  letter-spacing: 0.02em;
  text-align: center;
}

/************************************ doctors title portion **********************************************/

.doctordetailstitle {
  background: #c8c8c8;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.detailsTitle {
  background-color: #ffe5c6;
  padding: 20px;
  width: 300px !important;
}

.link {
  text-decoration: none;
  font-family: Overpass !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 600 !important;
  color: #767474 !important;
  height: 100% !important;
  padding: 20px !important;
  width: 162px !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  box-shadow: 0px 3.0614px 3.0614px rgba(0, 0, 0, 0.25);
}

.link:nth-child(2) {
  position: relative;
  left: -15px;
}

.link:nth-child(3) {
  position: relative;
  left: -30px;
}

.link:hover {
  text-decoration: none;
}

.link:focus {
  outline: none !important;
}
/******************************************** Schedule Page ***********************************************/

.tableforworkingplan {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  box-shadow: 0px 3.0614px 3.0614px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tableforworkingplan tr {
  transition: 0.5s;
}

.tableforworkingplan tr th,
.tableforworkingplan tr td {
  width: 33%;
  padding: 15px 0;
}

.tableforworkingplan tr td:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.tableforworkingplan tr td:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.tableforworkingplan tr:not(:first-child):hover {
  background-color: #fbd9b4;
}

input[type="radio"] {
  transform: scale(1.8);
  vertical-align: middle;
}

label {
  vertical-align: middle;
}

.tableforbreaks {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  box-shadow: 0px 3.0614px 3.0614px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tableforbreaks tr th,
.tableforbreaks tr td {
  width: 25%;
  padding: 12px 0;
}

.inputfield {
  border: none;
  background-color: transparent;
}

.inputfield:focus {
  outline: none;
}

/********************************************* Home page css ************************************************/
.containersize {
  max-width: 1600px !important;
}

.titlesection {
  height: 50px;
}

.Appointments,
.Patients,
.Messages,
.Review {
  text-decoration: none;
  font-family: Overpass !important;
  font-size: 13px !important;
  font-style: normal;
  font-weight: 600 !important;
  height: 100% !important;
  padding: 20px !important;
  width: 180px !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  font-family: Lato !important;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1c61 !important;
}

.Appointments {
  background-color: #fff5ea !important;
  z-index: 9999 !important;
}

.Patients {
  background-color: #ffe9d0 !important;
  position: relative;
  left: -15px;
  z-index: 9998 !important;
}

.Messages {
  background-color: #ffd5a5 !important;
  position: relative;
  left: -30px;
  z-index: 9997 !important;
}

.Review {
  background-color: #ffc786 !important;
  position: relative;
  left: -45px;
}

.searchbar {
  position: relative;
  left: 0px;
  top: 15px;
  width: 200px !important;
}

.scrollbaredit {
  scrollbar-width: none;
}

.TableOfDoctorsHomePage {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.TableOfDoctorsHomePage tr {
  transition: 0.6s;
}

.TableOfDoctorsHomePage tr:first-child:hover {
  background-color: white;
}

.TableOfDoctorsHomePage tr:hover {
  background: #ffe5c8;
}

.TableOfDoctorsHomePage tr th {
  text-align: center;
  padding: 10px 0;
}

.TableOfDoctorsHomePage tr td {
  padding: 10px 15px;
  color: #858585;
}

.TableOfDoctorsHomePage tr td:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.TableOfDoctorsHomePage tr td:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.videocallcolumn {
  box-shadow: 0px 4.05344px 4.05344px rgba(0, 0, 0, 0.25);
  position: relative;
  left: 30px;
  height: 85vh;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #1e1c61;
}

.marginTop {
  border-top: 1px solid #d1cfcf;
}

.time {
  font-family: Lato;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: center;
}

.time h6 {
  padding: 6px 0 !important;
}

.VideoCallwithPatient {
  font-family: Lato;
  font-size: 15px;
  font-weight: 500;
  color: #243d6f;
  background-color: rgba(238, 165, 124, 0.15);
  border-left: 4px solid #eea57c;
  padding: 6px 0 !important;
}

.Consultations {
  font-family: Playfair Display;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  color: #1e1c61;
}

.ConsultationsName {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #4e4957;
}

/******************************************* Your Schedule *************************************************/

.YourScheduleContainer {
  max-width: 1800px !important;
  box-shadow: 0px 3.8164px 3.8164px rgba(0, 0, 0, 0.25);
  border-radius: 10px !important;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  color: #909090;
}

.DailyWeekMonth {
  color: #909090;
  font-size: 20px;
  text-decoration: none;
}

.DailyWeekMonth:hover {
  text-decoration: none;
  color: #909090;
}

.arrow {
  width: 8px;
  height: 16px;
  position: relative;
  top: -5px;
}

.monthyear {
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 25px;
}

.dailystatus {
  border-radius: 10px !important;
  box-shadow: 0px 3.8164px 3.8164px rgba(0, 0, 0, 0.25);
}

.datemonthyearDayArr {
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}

.datemonthyearDayArrr{
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  visibility: hidden;
}

.timeSize{
  font-size: 19px;
}

.divforDailyWeekCallWithPatientABC{
  border-top: 1px solid #d1cfcf;
  height: 28px;
}

.dailyWeekVideoCallIwthPatientABC{
  font-family: Lato;
  font-size: 15px;
  font-weight: 500;
  color: #243d6f;
  background-color: rgba(238, 165, 124, 0.15);
  border-left: 4px solid #eea57c;
  padding: 6px 0 !important;
  line-height: 28px;
  height: 100%;
}